<option value="">Select Programme</option>
<option value="bsc_aerospace_engineering">Aerospace Engineering</option>
<option value="bsc_actuarial_science">Actuarial Science</option>
<option value="bsc_agriculture">Agriculture</option>
<option value="bsc_agricultural_biotechnology">Agricultural Biotechnology</option>
<option value="bsc_agricultural_engineering">Agricultural Engineering</option>
<option value="bsc_agribusiness_management">Agribusiness Management</option>
<option value="ba_akan_language_and_culture">Akan Language and Culture</option>
<option value="bsc_aquaculture_and_water_resource_management">Aquaculture and Water Resource Management</option>
<option value="bsc_architecture">Architecture</option>
<option value="bsc_automobile_engineering">Automobile Engineering</option>
<option value="bachelor_of_dental_surgery">Bachelor of Dental Surgery</option>
<option value="bachelor_of_herbal_medicine">Bachelor of Herbal Medicine</option>
<option value="bachelor_of_law">Bachelor of Law (LLB)</option>
<option value="bsc_biochemistry">Biochemistry</option>
<option value="bsc_biological_sciences">Biological Sciences</option>
<option value="bsc_biomedical_engineering">Biomedical Engineering</option>
<option value="accounting_banking_and_finance">Business Administration (Accounting/Banking and Finance)</option>
<option value="human_resource_management">Business Administration (Human Resource Management)</option>
<option value="business_information_technology">Business Administration (Logistics and Supply Chain management/Business Information Technology)</option>
<option value="marketing_or_international_business">Business Administration (Marketing/International Business)</option>
<option value="bfa_ceramics">Ceramics</option>
<option value="bsc_ceramic_technology">Ceramic Technology</option>
<option value="bsc_chemical_engineering">Chemical Engineering</option>
<option value="bsc_chemistry">Chemistry</option>
<option value="bsc_civil_engineering">Civil Engineering</option>
<option value="ba_communication_design">Communication Design</option>
<option value="bsc_computer_engineering">Computer Engineering</option>
<option value="bsc_computer_science">Computer Science</option>
<option value="bsc_construction_technology_and_management">Construction Technology and Management</option>
<option value="bsc_development_planning">Development Planning</option>
<option value="bsc_dietetics">Dietetics</option>
<option value="bsc_disability_and_rehabilitation_studies">Disability and Rehabilitation Studies</option>
<option value="doctor_of_optometry">Doctor of Optometry (OD)</option>
<option value="doctor_of_pharmacy">Doctor of Pharmacy (Pharm D)</option>
<option value="doctor_of_veterinary_medicine">Doctor of Veterinary Medicine</option>
<option value="ba_economics">Economics</option>
<option value="bsc_electrical_and_electronic_engineering">Electrical and Electronic Engineering</option>
<option value="ba_english">English</option>
<option value="bsc_environmental_science">Environmental Science</option>
<option value="bsc_fashion_design">Fashion Design</option>
<option value="bfa_fine_art_and_curatorial_practice">Fine Art & Curatorial Practice</option>
<option value="food_science_and_technology">Food Science and Technology</option>
<option value="bsc_forest_resource_technology">Forest Resource Technology</option>
<option value="ba_french_and_francophone_studies">French and Francophone Studies</option>
<option value="bsc_general_nursing">General Nursing</option>
<option value="ba_geography_and_rural_development">Geography and Rural Development</option>
<option value="bsc_geological_engineering">Geological Engineering</option>
<option value="bsc_geomatic_engineering">Geomatic Engineering</option>
<option value="ba_history">History</option>
<option value="bsc_hospitality_and_tourism_management">Hospitality abd Tourism Manag</option>
<option value="bsc_human_biology">Human Biology (Medicine)</option>
<option value="bsc_human_nutrition">Human Nutrition</option>
<option value="bsc_human_settlement_planning">Human Settlement Planning</option>
<option value="bsc_industrial_engineering">Industrial Engineering</option>
<option value="ba_integrated_rural_art_and_industry">Integrated Rural Art and Industry</option>
<option value="bed_junior_high_school_education">Junior High School Education</option>
<option value="bsc_land_economy">Land Economy</option>
<option value="bsc_landscape_design_and_management">Landscape Design And Management</option>
<option value="ba_linguistics">Linguistics</option>
<option value="bsc_marine_engineering">Marine Engineering</option>
<option value="bsc_materials_engineering">Materials Engineering</option>
<option value="bsc_mathematics">Mathematics</option>
<option value="bsc_mechanical_engineering">Mechanical Engineering</option>
<option value="ba_media_and_communication_studies">Media and Communication Studies</option>
<option value="bsc_medical_imaging">Medical Imaging</option>
<option value="bsc_medical_laboratory_sciences">Medical Laboratory Sciences</option>
<option value="ba_metal_product_design_technology">Metal Product Design Technology</option>
<option value="bsc_metallurgical_engineering">Metallurgical Engineering</option>
<option value="bsc_meteorology_and_climate_science">Meteorology and Climate Science</option>
<option value="bsc_midwifery">Midwifery</option>
<option value="bsc_natural_resource_management">Natural Resource Management</option>
<option value="bsc_packaging_technology">Packaging Technology</option>
<option value="bsc_petrochemical_engineering">Petrochemical Engineering</option>
<option value="bsc_petroleum_engineering">Petroleum Engineering</option>
<option value="bsc_physics">Physics</option>
<option value="bsc_physiotherapy_and_sports_science">Physiotherapy and Sports Science</option>
<option value="ba_political_studies">Political Studies</option>
<option value="ba_publishing_studies">Publishing Studies</option>
<option value="bsc_quantity_surveying_and_construction_economics">Quantity Surveying and COnstruction Economics</option>
<option value="bsc_real_estate">Real Estate</option>
<option value="ba_religious_studies">Religious Studies</option>
<option value="ba_social_work">Social Work</option>
<option value="ba_sociology">Sociology</option>
<option value="bsc_statistics">Statistics</option>
<option value="bsc_telecommunication_engineering">Telecommunication Engineering</option>
<option value="bsc_textile_design_and_technology">Textile Design and Technology</option>